ion-content {
  --ion-background-color: #121212;
  --ion-background-color-rgb: 18, 18, 18;
}


.pp{
  margin-left: 20px;
  margin-top: 20px;
  border: 2px solid white;
}

#fupload{
  margin-top: 5px;
  margin-left: 20px;
}