ion-content {
  --ion-background-color: #121212;
  --ion-background-color-rgb: 18, 18, 18;
}

ion-card{
  background-color: #1f1f1f;
}

ion-card-title{
  color: white;
}
ion-text{
  color: #8d8d8d;
}
ion-card-subtitle{
  color: #8d8d8d;
}