ion-content {
  --ion-background-color: #121212;
  --ion-background-color-rgb: 18, 18, 18;
}

ion-tab-bar{
  --ion-background-color: #1F1F1F;
}

ion-tabs{
  --ion-background-color: #1F1F1F;
  --ion-text-color: #ffffff;
  text-align: center;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #121212;

  margin: 0;
}

#container a {
  text-decoration: none;
}
ion-tab-button {
  --color: var(--ion-color-medium);
  --color-selected: var(--ion-color-danger);
}

